<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239868943110-3fkt78bhplli4jbfgbop80dhf48g48mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239868943110-3fkt78bhplli4jbfgbop80dhf48g48mk</string>
	<key>API_KEY</key>
	<string>AIzaSyB-X4FC6oqxiflptZN6g6abL2aqgf5IRGY</string>
	<key>GCM_SENDER_ID</key>
	<string>239868943110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.buzzmi</string>
	<key>PROJECT_ID</key>
	<string>buzzmi-8eeb0</string>
	<key>STORAGE_BUCKET</key>
	<string>buzzmi-8eeb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239868943110:ios:86c79c1e653aed5e1b9c87</string>
</dict>
</plist>